.App {
  text-align: center;
}

.content {
  margin-top: calc(var(--offset-base-size) * 22 * 2);
}

.mainLeftColumn {
  width: 600px;
  position: absolute;
  height: 912px;
  left: calc(50% - 620px);
  top: calc(var(--offset-base-size) * 22);
}

.mainRightColumn {
  width: 600px;
  position: absolute;
  height: 912px;
  left: calc(50% + 20px);
  top: calc(var(--offset-base-size) * 22);
  text-align: right;
}