.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 56px;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
}
